@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Quicksand:wght@300;400;500;600&display=swap');

/*All the Quiz Page component styling*/

.Quiz { /*all the content*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /*aligns vertically*/
    align-items: center; /*aligns horizontally*/
    height: 100vh;
    width: 70vw;
}

.quiz-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.quiz-title-box { /*top flex box*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10%;
}

#quiz-title {
    font-family: 'Kosugi Maru', sans-serif;
    color :rgb(209, 153, 122);
    text-align: center;
    margin: 0px;
    font-size: 400%;
}

#quiz-subtitle { /*small mobile screen*/
    font-family: 'Quicksand', sans-serif;
    color :rgb(169, 108, 76);
    margin: 0px;
    text-align: center;
    font-size: 200%;
}

.card-and-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
}

.quiz-card-box {
    background-color: rgb(254,254,254);
    border-radius: 7px;
    margin-top: 4vh;
    margin-bottom: 2vh;
    padding: 5vw;
    width: 50%;

    font-family: 'Kosugi Maru', sans-serif;
    color : var(--accent-color1);
    font-size: 600%;
    text-align: center;
}

input[type=text]{
    background-color: rgb(254,254,254);
    border-radius: 7px;
    border: none;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 70%;
    padding: 1vw;

    font-family: 'Quicksand', sans-serif;
    color :var(--subtitle-color);
    text-align: center;
    font-size: 4vw;
    font-weight: bolder;
}
input::placeholder{
    color :rgb(209, 153, 122, 0.3);
}
input:focus{
    outline: none;
}