@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Quicksand:wght@300;400;500;600&display=swap');

/*All the Start Page component styling*/

.Start { /*all the content*/
    display: flex;
    flex-direction: column;
    justify-content:space-between; /*aligns vertically*/
    align-items: center; /*aligns horizontally*/
    height: 101vh;
    max-width: 615px; /*maximum size is a tablet*/
}

.entire-title { /*top flex box*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20%;
    row-gap: 15px;
}

.entire-title h1 {
    font-family: 'Kosugi Maru', sans-serif;
    color :rgb(209, 153, 122);
    text-align: center;
    margin: 0px;
    font-size: 350%;
}

.entire-title h2 { /*small mobile screen*/
    font-family: 'Quicksand', sans-serif;
    color :rgb(169, 108, 76);
    margin: 0px;
    text-align: center;
    font-size: 130%;
}

@media screen and (min-width: 425px){ /*if a large mobile screen or bigger*/
    .entire-title h1 {
        font-size: 430%;
    }

    .entire-title h2 {
        font-size: 180%;
    }
}

@media screen and (min-width: 768px){ /*if a tablet screen or bigger*/
    .entire-title h1 {
        font-size: 600%;
    }

    .entire-title h2 {
        font-size: 180%;
    }
}

/*-------BUTTON-------*/

.start-button {
    display: inline-flex;
    background-color: rgb(254,254,254);
    border-radius: 7px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 20%;
    border: none;
    padding: 6px;
    
    font-size: 20px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    color:rgb(221, 180, 141);
    text-align: center;

    transition-duration: 0.1s;
    cursor: pointer;
}

.start-button p {
    margin: 0;
}
.start-button:hover {
    color: rgb(204, 119, 119);
}

/*------IMAGE------*/
.start-art { /*bottom flex box*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    row-gap: 30px; /*40 or 260*/
}

.start-art img { 
    width: 100%;
    height: auto;
}