@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Quicksand:wght@300;400;500;600&display=swap');

/*All the Start Page component styling*/
.Start{
    height: 101vh;
    width: 70vw;
    margin: 0px;
    font-size: 16px;
}
.start-menu { /*all the content*/
    display: flex;
    flex-direction: column;
    justify-content:space-between; /*aligns vertically*/
    align-items: center; /*aligns horizontally*/
    width: 100%;
    height: 100%;
}

.entire-title { /*top flex box*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10vh;
}

.entire-title h1{
    font-size: 400%;
}

.entire-title h2{
    font-size: 180%;
}


/*-------BUTTON-------*/

.start-button {
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(254,254,254);
    border-radius: 7px;
    width: 25%;
    border: none;
    padding: 2px;
    margin-top: 5%;

    font-size: 120%;
    font-weight: bold;
    color:var(--accent-color1);
    text-align: center;
    text-decoration-line: none;

    transition-duration: 0.2s;
    cursor: pointer;
}

.start-button:hover {
    color: var(--hover-color);
}

/*------IMAGE------*/
.start-art { /*bottom flex box*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.start-art img {
    width: 95%;
    height: auto;
}


/*responsizivty*/

/*Very small devicees*/
@media screen and (max-width: 300px){ 
    .Start{
        width: 95vw;
    }

    .entire-title h1 {
        font-size: 200%;
    }

    .entire-title h2 {
        font-size: 150%;
    }

    .start-button{
        font-size: 120%;
    }

    .start-art img{
        width: 90%;
        height: auto;
    }
}

/*Mobile*/
@media screen and (min-width: 301px) and (max-width: 480px){ /*Mobile*/
    .Start{
        width: 95vw;
    }

    .entire-title h1 {
        font-size: 400%;
    }

    .entire-title h2 {
        font-size: 200%;
    }

    .start-button{
        font-size: 150%;
    }

    .start-art img{
        width: 95%;
        height: auto;
    }
}

/*Tablet*/
@media screen and (min-width: 650px) and (max-width: 760px){ 
    .entire-title h1 {
        font-size: 500%;
    }

    .entire-title h2 {
        font-size: 250%;
    }

    .start-button{
        font-size: 150%;
    }

    .start-art img{
        width: 90%;
        height: auto;
    }
}

/*Laptop, Desktop*/
@media screen and (min-width: 761px) { 
    .entire-title h1 {
        font-size: 500%;
    }

    .entire-title h2 {
        font-size: 210%;
    }

    .start-button{
        font-size: 150%;
    }

    .start-art img{
        width: 60%;
        height: auto;
    }
}