@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Quicksand:wght@300;400;500;600&display=swap');

.start-button {
    display: inline-flex;
    background-color: rgb(254,254,254);
    border-radius: 7px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 20%;
    border: none;
    padding: 6px;
    
    font-size: 20px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    color:rgb(221, 180, 141);
    text-align: center;

    transition-duration: 0.1s;
    cursor: pointer;
}

.start-button p {
    margin: 0;
}
.start-button:hover {
    color: rgb(204, 119, 119);
}

/*a {
    text-decoration: none;
}*/
