@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Quicksand:wght@300;400;500;600&display=swap');

/*All the Start Page component styling*/

.start-menu { /*all the content*/
    display: flex;
    flex-direction: column;
    justify-content:space-between; /*aligns vertically*/
    align-items: center; /*aligns horizontally*/
    height: 101vh;
    max-width: 768px; /*maximum size is a tablet*/
    font-size: 16px;
}

.entire-title { /*top flex box*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10vh;
    row-gap: 15px;
}

.entire-title h1 {
    font-family: 'Kosugi Maru', sans-serif;
    color:var(--title-color);;
    text-align: center;
    margin: 0px;
    font-size: 350%;
}

.entire-title h2 { /*small mobile screen*/
    color: var(--subtitle-color);
    margin: 0px;
    text-align: center;
    font-size: 150%;
}

@media screen and (min-width: 425px){ /*if a large mobile screen or smaller*/
    .entire-title h1 {
        font-size: 400%;
    }

    .entire-title h2 {
        font-size: 180%;
    }
}

@media screen and (min-width: 768px){ /*if a tablet screen or smaller*/
    .entire-title h1 {
        font-size: 600%;
    }

    .entire-title h2 {
        font-size: 180%;
    }
}

/*-------BUTTON-------*/

.start-button {
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(254,254,254);
    border-radius: 10px;
    width: 25%;
    border: none;
    padding: 6px;

    font-size: 150%;
    font-weight: bold;
    color:var(--accent-color1);
    text-align: center;
    text-decoration-line: none;

    transition-duration: 0.2s;
    cursor: pointer;
}

.start-button:hover {
    color: var(--hover-color);
}

/*------IMAGE------*/
.start-art { /*bottom flex box*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    row-gap: 30px; /*40 or 260*/
}

.start-art img { 
    width: 100%;
    height: 40vh;
}