@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Quicksand:wght@300;400;500;600&display=swap');

.entire-title { /*top flex box*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20%;
    row-gap: 15px;
}

.entire-title h1 {
    font-family: 'Kosugi Maru', sans-serif;
    color :rgb(209, 153, 122);
    text-align: center;
    margin: 0px;
    font-size: 350%;
}

.entire-title h2 { /*small mobile screen*/
    font-family: 'Quicksand', sans-serif;
    color :rgb(169, 108, 76);
    margin: 0px;
    text-align: center;
    font-size: 130%;
}

@media screen and (min-width: 425px){ /*if a large mobile screen or bigger*/
    .entire-title h1 {
        font-size: 430%;
    }

    .entire-title h2 {
        font-size: 180%;
    }
}

@media screen and (min-width: 768px){ /*if a tablet screen or bigger*/
    .entire-title h1 {
        font-size: 600%;
    }

    .entire-title h2 {
        font-size: 180%;
    }
}